#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(white, rgb(238, 255, 161));
  background-size: 200% 200%;
animation: gradient-repeat 10s linear infinite;
}

@keyframes gradient-repeat {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1, h2 {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}


h1 {
  font-size: 35px;
}

h2 {
  padding-bottom: 10;
}

.lower {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;

  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);

  margin: 10px;
  border-radius: 10px;

  transition: transform 0.4s ease, background-color 0.2s;

  &.hidden {
    background-color: rgb(75, 44, 44);
    border: 2px solid black;
    color: transparent;
    transform: rotateY(0deg);
  }

  &.revealed {
    background-color: rgb(255, 255, 255);
    color: black;
    transform: rotateY(180deg);
  }

  &.matched {
    background-color: white;
    color: black;
    border: 2px solid green;
    transform: rotateY(180deg);
  }

  &:active {
    background-color: white;
    transform: scale(0.9);
  }

  p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
}

.game-finished {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.victory-message {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 1.5rem;
  width: 50%;
}

.attempts {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 2rem;
}

.empty-board {
  height: 30vh;
  width: 100%;
  background-color: gray;
}